
html {
  background-color: rgb(172, 91, 161);
  text-align: center;
  color: white;
}



.header {
  font-size: 60pt;
  color: rgb(103, 17, 184);
}

.shielas {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}

h1 {
  font-size: 40pt;
  color: palegoldenrod;
  margin-bottom: 10px;
}

h2 {
  margin-top: 5px;
  font-size: 18pt;
}

.year {
  margin-top: 0;
  color: rgb(2, 91, 255);
}

